/* 

    navbar autohide

*/
.autohide {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* 






*/
/* 


    LAPTOPS & BIGGER SCREENS 



*/
@media only screen and (min-width: 1024px) {

    /* 
    
        Navbar section
      
    */
    .navbar-brand {
        margin-right: 0rem;
    }

    .navbar_link {
        font-size: larger;
    }

    .navbar_link:hover {
        /* font-size: 25px; */
        transition: 0.3s;
        text-decoration: underline;
    }

    .navbar_logo {
        width: 50px;
    }

    /* .resume_button_nav_lg {
        letter-spacing: 1px;
        font-size: 1.1rem;
        padding: 7px 40px;
    } */
    .resume_button_nav_lg {
        letter-spacing: 0.2rem;
        font-size: 1.1rem;
        padding: 7px 40px;
        color: white;
        background-color: #212529;
        border: 1px white solid;
    }
}

/* 






*/
/* 


    MOBILES & TABLETS 



*/
@media only screen and (max-width: 1023px) {

    /* 

        Navbar section
    
    */
    .navbar_logo {
        width: 65px;
    }

    #navbar_toggle_button {
        font-size: 23px;
    }

    .navbar_link {
        font-size: 22px;
    }

    .resume_button_nav_sm {
        font-size: 25px;
        /* margin: 15px 45px; */
        padding: 0 80px;
        text-align: center;
        text-decoration: none;
        /* display: flex;
        justify-content: center; */
        color: #9b9e9f;
        background-color: #212529;
    }
}